*{
	box-sizing: border-box;
 }

body{
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 14px;
}

header{
	background-color: #333;
	height: 3em;
	color: #FFF;
	margin-bottom: 1em;
}

header h1{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}
header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
}

header .container:before{
	content: '';
	display:inline-block;
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 1px solid #ccc;
	margin-bottom: .5em;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.adicionar-paciente{
    margin-top: 30px;
}

.dado-invalido{
	color: red;
}

.dados-invalidos{
	background-color: #f9f7f7;
}

.add-paciente{
	padding: 10px;
	color: #fff;
	background-color:#0c8cd3;
	margin: 10px ;
	display: block;
	font-size: 1.2rem;
	width: 15%;
	text-align: center;
	border-bottom: 5px solid #04324c; 
	position: relative;
	left: 85%;
	text-decoration: none;
}

.add-paciente:hover,
.add-paciente:focus {
	background-color: #474771;
}